* {
  margin: 0px;
  padding: 0px;
  font-family: cursive;
  text-align: center;
}
body {
  background-color: #012;
}
#canvasDiv {
  margin: 150px auto 40px;
}
#canvasDiv > canvas {
  width: 100px;
  height: 100px;
  background-color: aqua;
  -webkit-transition: transform 2s;
  box-shadow: 2px 2px 25px black;
  border: 2px solid black;
  border-radius: 5px;
}
#canvasDiv > canvas:hover {
  width: 104px;
  height: 98px;
  background-color: aquamarine;
}
#reloadButton {
  text-decoration: none;
  font-size: 50px;
  color: antiquewhite;
}
#reloadButton:hover {
  font-size: 60px;
  color: bisque;
}
#alertBox {
  display: none;
  position: fixed;
  //overflow: auto;
  left: 80px;
  top: 240px;
  width: 80%;
  height: 20%;
  z-index: 1;
  background-color: rgba(255, 250, 250, 0.4);
}
#alertContent {
  font-size: 42px;
  margin: 10% auto;
  background-color: lightpink;
}
#tab {
  margin: auto;
  position: fixed;
  top: 20px;
  left: 550px;
  width: 500px;
  height: 50px;
  /*background-color:blanchedalmond;*/
  border-radius: 25px;
}
.theme {
  float: left;
  width: 20%;
  height: 90%;
  vertical-align: middle;
  opacity: 0.7;
  background-color: azure;
  font-size: 20px;
  border-radius: 10px;
}
.theme:hover {
  opacity: 1;
}
#red {
  border-top: 5px solid red;
}
#yellow {
  border-top: 5px solid yellow;
}
#blue {
  border-top: 5px solid blue;
}
#light {
  border-top: 5px solid white;
}
#dark {
  border-top: 5px solid black;
}

#prev {
  width: 150px;
  height: 80px;
  position: absolute;
  right: 255px;
  bottom: 200px;
  box-shadow: 5px 10px 5px black;
  font-size: 38px;
  transform: skewY(5deg);
  transition: transform 1s;
}
#prev:hover {
  background-color: yellow;
  cursor: pointer;
  transform: rotateY(-50deg);
}
